@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin posTopLft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin headerAnimation($disp, $fsz, $fw, $lsp, $anim) {
  display: $disp;
  font-size: $fsz;
  font-weight: $fw;
  letter-spacing: $lsp;
  animation: $anim;
}

//@mixin grid-cols($num_cols, $bg_color, $span){
//  color: initial;
//  padding-left:10px;
//  width: column-width($num_cols, $span);
//  background-color:$bg_color;
//  float: left;
//  &:not(:last-child){
//    margin-right: $gutter-vertical;
//  }
//}