@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin posTopLft($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin headerAnimation($disp, $fsz, $fw, $lsp, $anim) {
  display: $disp;
  font-size: $fsz;
  font-weight: $fw;
  letter-spacing: $lsp;
  animation: $anim;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}