//Colors
$dark-shadow: rgba(0, 0, 0, .4);
$light-shadow: rgba(0, 0, 0, .2);
$charcoal-gray: #777;
$default-green-dark: rgba(85, 197, 122, 0.80);
$default-green-light: rgba(126, 213, 111, 0.8);
$color-grey-light-1: #f7f7f7;

//Font Sizes
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;

//Margins
$margin-bottom-xsmall: 1rem;
$margin-bottom-small: 2rem;
$margin-bottom-medium: 4rem;
$margin-bottom-large: 8rem;
$margin-bottom-xlarge: 16rem;
