.u-center-text {
  text-align: center;
}
.u-margin-bottom-small {
  margin-bottom: $margin-bottom-small - .5rem;
}
.u-margin-bottom-medium {
  margin-bottom: $margin-bottom-medium;
}
.u-margin-bottom-large {
  margin-bottom: $margin-bottom-large;
}
.u-margin-bottom-xlarge {
  margin-bottom: $margin-bottom-xlarge;
}